/* Geral */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f4f8;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  color: #4f84f5;
  margin-bottom: 20px;
}

label {
  font-size: 1.1em;
  margin-top: 10px;
  font-weight: bold;
  color: #4f84f5;
}

input[type="datetime-local"] {
  font-size: 1.1em;
  padding: 12px;
  border-radius: 5px;
  border: 2px solid #4f84f5;
  margin-top: 10px;
  width: 280px;
  background-color: #fff;
  color: #333;
  transition: border 0.3s ease;
}

input[type="datetime-local"]:focus {
  border: 2px solid #d64f9e;
  outline: none;
}

button {
  font-size: 1.2em;
  background-color: #4f84f5;
  color: white;
  padding: 12px 25px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

button:hover {
  background-color: #3b6be6;
}

#resultado {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 20px;
  color: #333;
}

.quote {
  font-size: 1.2em;
  color: #d64f9e;
  margin-top: 20px;
  font-style: italic;
}

footer {
  margin-top: 50px;
  font-size: 1.1em;
  color: #333;
  padding: 20px;
  background-color: #4f84f5;
  width: 100%;
  text-align: center;
  border-radius: 10px;
}

footer a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  color: #d64f9e;
}

footer p {
  margin: 5px 0;
}
